@font-face { font-family: 'Brioni Text Regular'; src: url('https://www.typotheque.com/data/webfonts/OTFtest/BrioniTextStd-Regular.woff') format('woff'); }
@font-face { font-family: 'Brioni Pro Regular'; src: url('../font/BrioniPro-Regular.otf'); }
@font-face { font-family: 'Brioni Pro Bold'; src: url('../font/BrioniPro-Bold.otf'); }
/* @import url('https://fonts.typotheque.com/WF-000099-008762.css'); */
/*@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400i');*/

h1 {
    font-feature-settings: 'smcp' on, 'kern' on, 'liga' on;
    letter-spacing: 4px;
    color:rgba(0,0,0,1);
    text-shadow:rgba(0,0,0,0.33) 3px 3px 15px;
/*    text-transform: uppercase; */
/*     font-family: verdana; */
    color: #f5f5f5;
/*    text-shadow:
    1px 8px 6px rgba(16,16,16,0.2),
    1px 12px 10px rgba(16,16,16,0.1),
    1px 15px 35px rgba(16,16,16,0.1),
    1px 20px 60px rgba(16,16,16,0.2); */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
/*    font-variant: small-caps; */
}

h1 {
    transform-style: preserve-3d;
    transform: perspective(1200px) translateZ(0px);
    transition: all 3s ease-in-out;
}

@keyframes rotate-h1 {
        0%   { transform: perspective(1200px) translateZ(0px); }
        100% { transform: perspective(1200px) translateZ(15px); }
}

.step.active h1 {
    animation: rotate-h1 3s infinite alternate ease-in-out;
}

h1 .short {
    text-transform: lowercase;
    display: inline-block;
    font-weight: normal;
    font-size: 0.27em;
    transform: translateZ(-50px);
}

/* @import url(http://fonts.googleapis.com/css?family=Droid+Sans:300,400,700); */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .menu ul, menu .li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
/*  font: inherit; */
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Brioni Pro Bold', serif;
  line-height: 1;
}

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
/*  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 400; */
  min-height: 740px;
  color: #333;
  background: #f8f8f8; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

.step {
  position: relative;
  width: 900px;
  height: 700px;
/*  border: 3px solid #333; */
  padding: 0px;
  margin: 20px 40px 20px 40px;
/*  line-height: 700px; */
  font-size: 7em;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box; }

.impress-enabled .step {
  margin: 0;
  opacity: 1;
  transition: opacity 1s; 
  transform: translateZ(-150px);
}

.impress-enabled .step.active {
  opacity: 1; 
  transform: translateZ(0px);
}

#overview {
  display: none; }

.impress-on-overview .step {
  opacity: 1;
  cursor: pointer; }

/*# sourceMappingURL=polygon.css.map */
